html { 
    background-color: #000;
}
*  {
    margin: auto;
    padding: 0 20px;
    box-sizing: center-box;
}

body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4d2600
}

input[type=number] {
    width: 150px;
    height:30px;
    text-decoration-color: aliceblue;
    text-align: center;
    border: 1px solid #4d2600;
    outline: none;
    border-radius: 5px;
}


#temp-box {
     position: absolute;
     top: 40vh;
     height: 50px;
     width: 300px;
     border-radius: 20px;
     background: -webkit-linear-gradient(top, #7575 1%,#000 51%, #757575 100%);
     box-shadow: 10px 0 20px;
}


 ::placeholder {
     color: #000000;
     text-align: center;
     font: 20px;
}